html, 
body {
	height: 100%;
	padding:0;
	margin:0;
}
.loader{
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;

}

.root{
	width:100%;
	height:100%;
	display:none;
	background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
	padding: 0;
	margin: 0 auto;
	background-color: #2a2a2a;

}


.mainPicture{
	position: absolute;
    width: 38%;
	margin-left: 54%;
	margin-top: 4.2%;
	left: 0;
	animation: fadeIn 3s;
	animation-delay:0s;
}
.header{
	position: absolute;
	width: 100%;
	margin-top: 69%;
	margin-left: 60%;
	font-family: "Consolas";
}g
.home{
	position: absolute;
	cursor: pointer;
    left: 0;
	width: 10%;
	margin-left: 3%;
	margin-top: 4%;
	opacity: 0;
	animation: fadeIn 3s;
	animation-delay:3s;
	animation-fill-mode: forwards;
}
.home:hover{
	width: 11%;
}

.about{
	position: absolute;
	cursor: pointer;
    left: 0;
	width: 17%;
	margin-left: 17%;
	margin-top: 4%;
	opacity: 0;
	animation: fadeIn 3s;
	animation-delay:3.5s;
	animation-fill-mode: forwards;
}
.about:hover{
	width: 18%;
}
.contact{
	position: absolute;
	cursor: pointer;
    left: 0;
	width: 16%;
	margin-left: 37%;
	margin-top: 3.8%;
	opacity: 0;
	animation: fadeIn 3s;
	animation-delay:4s;
	animation-fill-mode: forwards;
}
.contact:hover{
	width: 17.5%;
}
.talk{
	position: absolute;
    left: 0;
		width: 50%;
	margin-left: 8%;
	margin-top: 45%;
	opacity: 0;
	animation: fadeIn 3s;
	animation-delay:2s;
	animation-fill-mode: forwards;
}
.hi{
	position: absolute;
    left: 0;
	width: 50%;
	margin-left: 8%;
	margin-top: 20%;
	opacity: 0;
	animation: fadeIn 3s;
	animation-delay:1s;
	animation-fill-mode: forwards;
}
.background2{
	position: absolute;
  width: 100%;

	margin-top: 56.2%;
}


#Fab1{
	position: absolute;
	width: 40%;
	margin-left: -40%;
	margin-top: 58%;
	animation: fastFade 3s infinite;
	animation-delay: 1s;
}
#Fab3{
	position: absolute;
	width: 40%;
	margin-left: -40%;
	margin-top: 56%;
	animation: fastFade 3s infinite;
	animation-delay: 2s;
}
#Fab2{
	position: absolute;
	width: 46.5%;
	margin-left: -45%;
	margin-top: 50%;
	animation: fastFade 3s infinite;
	animation-delay: 3s;
}
.PhilipAbout{
	position: absolute;
	width: 60%;
	margin-top: 50%;
	margin-left: 40%;
}
.js{
	position: absolute;
	width: 25%;
	margin-top: 80.7%;
	margin-left: 65%;
}
.java{
	position: absolute;
	width: 15%;
	margin-top: 80.7%;
	margin-left: 45%;
}
.contacts{
	position: absolute;
  width: 80%;
	margin-top: 117%;
	margin-left: 10%;
}
.fb{
	cursor: pointer;
	position: absolute;
	width: 6%;
	margin-top: 136.5%;
	margin-left: 39%;
}
.tt{
	cursor: pointer;
	position: absolute;
	width: 6%;
	margin-top: 136.5%;
	margin-left: 47%;
}
.yt{
	cursor: pointer;
	position: absolute;
	width: 6%;
	margin-top: 136.5%;
	margin-left: 55%;
}
.emp{
	position: absolute;
	width: 100%;
	margin-top: 144.5%;
}
@keyframes fastFade {
	0%{
		opacity: 1;
		left: 0;
	}
	25%{
		opacity: 1;
		left: 47%;
	}
	45%{
		opacity: 1;
		left: -100%;
	}
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	to{
		opacity: 1;
	}

}


@keyframes ldio-yzdl9wce19m-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}
@keyframes ldio-yzdl9wce19m-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}
.ldio-yzdl9wce19m > div:nth-child(2) {
  transform: translate(-15px,0);
}
.ldio-yzdl9wce19m > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #f8b26a;
  animation: ldio-yzdl9wce19m-1 1s linear infinite;
  transform-origin: 60px 60px
}
.ldio-yzdl9wce19m > div:nth-child(2) div:nth-child(2) {
  animation: ldio-yzdl9wce19m-2 1s linear infinite
}
.ldio-yzdl9wce19m > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-yzdl9wce19m-3 {
    0% { transform: translate(190px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(70px,0); opacity: 1 }
}
.ldio-yzdl9wce19m > div:nth-child(1) {
  display: block;
}
.ldio-yzdl9wce19m > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e15b64;
  animation: ldio-yzdl9wce19m-3 1s linear infinite
}
.ldio-yzdl9wce19m > div:nth-child(1) div:nth-child(1) { animation-delay: -0.67s }
.ldio-yzdl9wce19m > div:nth-child(1) div:nth-child(2) { animation-delay: -0.33s }
.ldio-yzdl9wce19m > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-699moabviw {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-yzdl9wce19m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzdl9wce19m div { box-sizing: content-box; }
/* generated by https://loading.io/ */
